h1 {
    color: #fc2f2d;
    font-family: 'Lobster';
}

body{
    padding-left: 15px;
    padding-right: 15px;
}

p {
    margin: auto;
}

a {
    color: lawngreen;
}

.page-header{
    background-color: #88ded7;
    margin-top: 20px;
    padding: 30px 30px 30px 40px;

}

.date{
    #float: right;
    padding-right: 20px;
    padding-left: 20px;
    background-color: lavender;
}

.post-title{
    color: lightcoral;
    background-color: khaki;
    height: 60px;
    padding-left: 20px;

}

.post-text{
    font-family: "Arvo";
    padding-bottom: 10px;
}

.btn{
    margin: 20px 20px 20px 20px;
}


